style
	

h1= title
p Welcome to #{title}

h2 This is just a test

a(href="/") Likes
h4= likes
a(href='/') Dislikes
h4= dislikes

form(action='/', method='post')
	input(type='hidden', value='true', name='dislike')
	input(type='submit', value='dislike')
form(action='/', method='post')
	input(type='hidden', value='true', name='like')
	input(type='submit', value='like')